<div class="bg-image"></div>
    <form method="POST" action="/add-event">
  <label for="nameEvent">Event Name:</label><br>
  <input type="text" id="nameEvent" name="nameEvent"><br>

  <label for="type">Type:</label><br>
  <input type="text" id="type" name="type"><br>

  <label for="description">Description:</label><br>
  <textarea id="description" name="description"></textarea><br>

  <label for="place">Place:</label><br>
  <input type="text" id="place" name="place"><br>

  <label for="date">Date:</label><br>
  <input type="date" id="date" name="date"><br>

  <label for="nbr_of_places">Number of Places:</label><br>
  <input type="number" id="nbr_of_places" name="nbr_of_places"><br>

  <label for="image">Image:</label><br>
  <input type="file" id="image" name="image"><br>

  <input type="submit" value="Submit">
</form>