<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="../../../assets/back/css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">ESPRIT</a>
    <!-- Sidebar Toggle-->
    <!-- Navbar Search-->
    <!-- Navbar-->
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="index.html">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            <a class="nav-link" href="app-add-event">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Events
            </a>

            <a class="nav-link" href="forum.html">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Forum
            </a>

            <a class="nav-link" href="teachers.html">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Teachers
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4" align="center">Add event</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"></li>
          </ol>
          <div>
            <form #f="ngForm" (submit)="addevent()">
              <label for="nameEvent">Event Name:</label><br>
              <input type="text" id="nameEvent" name="nameEvent" [(ngModel)]="newEvent.nameEvent" placeholder="Enter Name" minlength="3" required #title="ngModel">
              <div *ngIf="title.invalid && title.touched">
                <div class=" alert alert-danger">
                  <div *ngIf="title.errors?.['required']">Name is required</div>
                  <div *ngIf="title.errors?.['minlength']"> Name must contain more than 2 characters </div>
                </div>
              </div><br>

              <label for="type">Type:</label><br>
              <input type="text" id="Type" name="Type" [(ngModel)]="newEvent.Type" placeholder="Enter Type" minlength="3" required #type="ngModel">
              <div *ngIf="type.invalid && type.touched">
                <div class=" alert alert-danger">
                  <div *ngIf="title.errors?.['required']">Type is required</div>
                  <div *ngIf="title.errors?.['minlength']"> Type must contain more than 2 characters </div>
                </div>
              </div><br>

              <label for="description">Description:</label><br>
              <textarea id="description" name="description" [(ngModel)]="newEvent.description" placeholder="describe the event" minlength="10" required #descrp="ngModel"></textarea>
              <div *ngIf="descrp.invalid && descrp.touched">
                <div class=" alert alert-danger">
                  <div *ngIf="title.errors?.['required']">Descriptions is required</div>
                  <div *ngIf="title.errors?.['minlength']"> Description must contain more than 10 characters </div>
                </div>
              </div><br>

              <label for="place">Place:</label><br>
              <input type="text" id="place" name="place" [(ngModel)]="newEvent.place" placeholder="Where the event will take place" minlength="3" required #place="ngModel">
              <div *ngIf="place.invalid && place.touched">
                <div class=" alert alert-danger">
                  <div *ngIf="title.errors?.['required']">Place is required</div>
                  <div *ngIf="title.errors?.['minlength']"> Place must contain more than 2 characters </div>
                </div>
                </div><br>

                <label for="date">Date:</label><br>
                <input type="date" id="date" name="date" [(ngModel)]="newEvent.date"><br>

                <label for="nbr_of_places">Number of Places:</label><br>
                <input type="number" id="nbr_of_places" name="nbr_of_places" [(ngModel)]="newEvent.nbr_of_places" placeholder="Enter number of places availble" min=10 max=4999 required #quantity="ngModel">
                <div *ngIf="quantity.invalid && quantity.touched ">
                  <div class=" alert alert-danger">
                    <div *ngIf="quantity.errors?.['required']">number of places is required</div>
                    <div *ngIf="quantity.errors?.['min']"> places must be more than 10 </div>
                    <div *ngIf="quantity.errors?.['max']"> Qantity must be less than 5000 </div>
                  </div>
                </div><br>
                <button class="btn btn-success" [disabled]="f.invalid" type="submit" onclick="location.href='app-add-event'">  Add </button>
            </form>
          </div>

        </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="../../../assets/back/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="../../../assets/back/demo/chart-area-demo.js"></script>
  <script src="../../../assets/back/demo/chart-bar-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
  <script src="../../../assets/back/js/datatables-simple-demo.js"></script>
</body>
</html>


