<div class="body">
    <form class="form-horizontal">
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="first_name">First Name</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="first_name" [(ngModel)]="user.firstName" type="text" id="first_name" class="form-control" placeholder="Enter your first name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="last_name">Last Name</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="last_name" [(ngModel)]="user.lastName" type="text" id="last_name" class="form-control" placeholder="Enter your last name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Email</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="email" [(ngModel)]="user.email" type="text" id="email_address_2" class="form-control" placeholder="Enter your email address">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="password_2">Password</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="password" [(ngModel)]="user.password" type="password" id="password_2" class="form-control" placeholder="Enter your password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="role">Role</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        
                            <select class="form-control" name="role" id="role" [(ngModel)]="user.role">
                                <option value=""></option>
                                <option value="ADMINISTRATEUR">ADMINISTRATEUR</option>
                                <option value="INGENIEUR">INGENIEUR</option>
                                <option value="CHEF_DEPARTEMENT">CHEF_DEPARTEMENT</option>
                                <option value="TECHNICIEN">TECHNICIEN</option>
                                <option value="EMPLOYE">EMPLOYE</option>
                            </select>
                         
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <button (click)="addUser()" type="button" class="btn btn-primary m-t-15 waves-effect">Add</button>
            </div>
        </div>
